@media screen and (max-width: 1441px) {
    .contacts-content__right {
        right: 0;
        max-width: 60%;
    }

    .reviews-content__title {
        padding-left: 4%;
    }
    
}


@media screen and (max-width: 1367px) {
    .reviews-content__title {
        padding-left: 1%;
    }

    .header-content__top {
        padding: 15px;
        border-radius: 0 0 4px 4px;
    }    
}


@media screen and (max-width: 1200px) {
    
}


@media screen and (max-width: 1100px) {
    
}


@media screen and (max-width: 1025px) {
    .header-top__email {
        margin-right: 130px;
    }

    .header-content__top {
        justify-content: center;
    }

    .logo {
        margin-right: 20px;
    }

    .logo img {
        width: 70px;
    }

    .menu-item {
        margin-right: 15px;
    }

    .menu-item a {
        font-size: 18px;
    }

    .menu-item:last-child {
        margin-right: 0;
    }

    .slider-content h1 {
        font-size: 64px;
        line-height: 70px;
    }

    .slider-content__text {
        width: 500px;
        font-size: 24px;
        line-height: 35px;
    }

    .slider-content {
        max-width: 950px;
        min-width: 950px;
    }

    .reservation {
        max-width: 950px;
        top: 195px;
    }

    .skills-content {
        max-width: 950px;
    }

    .skills-content h2 {
        font-size: 35px;
        line-height: 45px;
    }

    .skills-content__text {
        font-size: 22px;
        line-height: 25px;
    }

    .skills-content__item span {
        font-size: 16px;
    }

    .skills-content__right {
        width: 70%;
        margin-top: 30px;
    }

    .skills-content__right img {
        width: 100%;
    }

    .skills-content__item {
        margin-bottom: 10px;
    }

    .slogan__text {
        font-size: 37px;
    }

    .period-item {
        max-width: 300px;
    }

    .period-list {
        max-width: 950px;
    }

    .period-time {
        font-size: 23px;
    }

    .period-item img {
        width: 100%;
    }

    .period-title {
        font-size: 18px;
        line-height: 25px;
    }

    .period-text {
        font-size: 13px;
        max-width: 90%;
        margin: 0 auto 25px;
    }

    .btn2 {
        font-size: 12px;
    }

    .reviews-content__title {
        padding-left: 4%;
        height: 130px;
    }

    .reviews-content__title h3 {
        width: 115px;
        margin-right: 100px;
        font-size: 32px;
    }

    .reviews-list {
        max-height: 130px;
    }

    .reviews-list img {
        max-width: 250px;
    }

    .reviews-item:nth-child(2) {
        margin-top: -60px;
    }

    .container {
        max-width: 950px;
    }

    .contacts-content__title h3 {
        font-size: 32px;
    }

    .contacts-item__title {
        font-size: 18px;
    }

    .contacts-item__text {
        font-size: 14px;
        max-width: 300px;
        line-height: 18px;
    }

    .contacts-item {
        max-width: 500px;
    }

    .contacts-item__left {
        width: 50px;
        height: 50px;
    }

    .contacts-item__left img {
        width: 20px;
    }

    .contacts-content__right {
        max-height: 75%;
        overflow: hidden;
    }

    .footer-menu__item {
        margin-right: 20px;
    }

    .footer-menu__item a {
        font-size: 18px;
    }

    .regulations-item a {
        text-decoration: underline;
    }

    .regulations-item a:hover {
        text-decoration: none;
    }

    .regulations-item a:before {
        content: none;
    }

    .copyright {
        margin-right: 50px;
    }

    .reservation__text {
        font-size: 26px;
    }

    .reservation__text span {
        font-size: 28px;
    }

    .reservation-content {
        max-width: 420px;
        padding: 30px 40px;
    }

    .reservation-content {
        font-size: 15px;
    }

    .btn {
        font-size: 14px;
    }

    .time span {
        font-size: 13px;
        line-height: 16px;
    }

    .header-top__phone a {
        font-size: 16px;
    }

    .header-top__email a {
        font-size: 14px;
    }

    .language span {
        font-size: 14px;
    }
}

@media screen and (max-width: 930px) {
    
}

@media screen and (max-width: 850px) {
    
}

@media screen and (max-width: 800px) {
    
}

@media screen and (max-width: 769px) {
    

}

@media screen and (max-width: 720px) {
    
}

@media screen and (max-width: 660px) {
    
    
}

@media screen and (max-width: 600px) {
   
}

@media screen and (max-width: 580px) {
    
}

@media screen and (max-width: 480px) {
    
}

@media screen and (max-width: 321px) {
    
}
